/* 테이블 스타일 지정 */
#stdList{
  border-collapse: collapse;
}

#stdList td, #stdList th{
  padding: 5px 8px;
}

thead th{
  background-color: skyblue;
}

/* 짝수번째 행 */
tbody > tr:nth-of-type(2n){
  background-color: #dddd; 
}